nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #f0d8d8;
    font-weight: 700;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #007bff;
}

nav a:active {
    color: #0056b3;
}
